.login-page {
  height: 100vh;
  background: linear-gradient(to right, #e0f2f1, #e3f2fd);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Top Navbar */
.login-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  color: #0ea5a4;
  font-weight: bold;
}

/* Center */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Footer */
.login-footer {
  text-align: center;
  padding: 20px;
  color: #666;
}

.terms {
  font-size: 12px;
}